<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Akinator HSR: Expreso Astral</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>✨ Genio de la Curiosidad del Expreso Astral ✨</h1>
        
        <p>Quedan **{{ candidatos_restantes }}** posibles candidatos en la Base de Datos.</p>

        <h2>Transmisión Recibida:</h2>
        <p>{{ pregunta }}</p>
        
        <form method="POST">
            <div class="button-container">
                {% for respuesta in respuestas %}
                    <button type="submit" name="respuesta" value="{{ respuesta }}">{{ respuesta.replace("_", " ")|title }}</button>
                {% endfor %}
            </div>
        </form>

        <a href="/">Empezar un nuevo viaje</a>
    </div>
</body>
</html>